@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
html, body {
  height: 100%;
}

::-moz-selection {
  background-color: #fff;
  color: #005dff;
}

::selection {
  background-color: #fff;
  color: #005dff;
}

body {
  background-color: #fff;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body #bg {
  width: 100%;
  height: 100vh;
  -webkit-clip-path: polygon(100% 0, 100% 80%, 58% 100%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 80%, 58% 100%, 0 100%, 0 0);
  position: absolute;
  z-index: -1;
  background-color: #005dff;
}

@media (min-width: 840px) {
  body #bg {
    -webkit-clip-path: polygon(0 0, 82% 0, 63% 100%, 0% 100%);
            clip-path: polygon(0 0, 82% 0, 63% 100%, 0% 100%);
  }
}

header a {
  font-size: 3em;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px;
  display: inline-block;
  font-weight: 400;
}

@media (min-width: 840px) {
  header a {
    font-size: 4em;
  }
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section#card {
  width: 80%;
  background-color: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0 10px 30px -3px #001333;
          box-shadow: 0 10px 30px -3px #001333;
  padding: 15px;
  margin: 5.5em auto 0 auto;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (min-width: 840px) {
  main section#card {
    margin: 6em auto 0 auto;
    width: 25em;
  }
}

main section#card ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

main section#card ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

main section#card ul li span {
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 50%;
  background-color: #ccdfff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main section#card ul li strong {
  margin-left: 15px;
  color: #005dff;
}

main section#card:hover {
  cursor: default;
  background-color: #ccdfff;
}

main section#card:hover ul li span {
  background-color: #fff;
}

main section#text {
  width: 80%;
  padding: 15px;
  margin: 2em auto 0 auto;
}

@media (min-width: 840px) {
  main section#text {
    margin: 3em auto 0 auto;
    width: 30em;
  }
}

main section#text h1 {
  font-size: 2.5em;
  color: #fff;
  line-height: 1em;
  font-weight: 400;
  text-transform: capitalize;
}

main section#text h1 strong {
  text-shadow: 0 0 5px #ccdfff;
}

@media (min-width: 840px) {
  main section#text h1 {
    font-size: 4em;
  }
}

main section#text a {
  display: inline-block;
  width: 150px;
  background-color: #fff;
  text-align: center;
  margin: 0 auto 0 auto;
  padding: 15px 60px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1.5em;
  color: #005dff;
  -webkit-box-shadow: 0 5px 30px -6px #001333;
          box-shadow: 0 5px 30px -6px #001333;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

main section#text a:hover {
  color: #fff;
}

main section#text a::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #001333;
  -webkit-transition: 0.4s cubic-bezier(1, 2, 0.2, 0.6);
  transition: 0.4s cubic-bezier(1, 2, 0.2, 0.6);
}

main section#text a:hover::before {
  height: 100%;
}

@media (min-width: 840px) {
  main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
/*# sourceMappingURL=main.css.map */